<div class="scrollable-page-wrapper">
  <app-navbar></app-navbar>

  <!--Search bar-->
  <div class="text-center mb-3">
    <app-title title="Checkout the newest games"></app-title>
    <div class="container" style="max-width: 800px">
      <app-search-box type="thick"></app-search-box>
    </div>
  </div>

  <div class="px-1 px-sm-2 px-md-3 scrollable-container">
    <div class="d-none d-lg-flex col-3 mr-xl-4 flex-column scrollable-column">
      <app-recent-deals-list></app-recent-deals-list>
    </div>

    <div class="col flex-column scrollable-column">
      <app-subtitle subtitle="New games"></app-subtitle>
      <div class="row row-cols-1 row-cols-md-2" style="max-width: 700px">
        <div class="col">
          <app-combo-box defaultOption="released" [options] ="['rating', 'added', 'created', 'updated', 'name', 'metacritic']" label="Order by" (onChange)="loadGamesPageBy($event)"></app-combo-box>
        </div>
        <div class="col">
          <app-combo-box label="Platform"></app-combo-box>
        </div>
      </div>
      <app-game-cards-container
        [games]="games"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [fetchingGames]="fetchingGames"
        (nextPage)="loadGamesPage($event)"
      ></app-game-cards-container>
    </div>
  </div>
</div>
