<footer
  class="page-footer font-small special-color-dark pt-4 mt-4"
  style="background-color: var(--background-secondary)"
>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6 mb-4 text-center">
        <h1 class="navbar-brand brand footer-logo">Gamerpot</h1>
      </div>
      <app-contact-form
        (onSendEmail)="sendEmail($event)"
        class="col-md-5 mb-4 text-center"
      >
      </app-contact-form>
    </div>
  </div>
  <div class="text-center py-3 copyright">
    © 2021 Gamerpot. All Rights Reserved.
  </div>
</footer>
