<div [ngClass]="{
  'deals-row': true,
  'deals-row--condensed': displayType == 'row-condensed'
}">
  <div [ngClass]="{
    'deals_row__image-container': true,
    'deals_row__image-container--condensed': displayType == 'row-condensed',
    'hide': displayType == 'row-minimal'
  }">
    <img
      [src]="game.thumb"
      alt="game-image"
      class="deals-row__image-container__image"
    />
  </div>
  <div class="deal-data">
    <div [ngClass]="{
      'deals-row__col': true,
      'deals-row__col--condensed': displayType == 'row-condensed',
      'deals-row__col--minimal': displayType == 'row-minimal'
    }">
      <span>{{ game.title }}</span>
    </div>
    <div [ngClass]="{
      'deals-row__col': true,
      'deals-row__col--discount': true,
      'hide': displayType == 'row',
      'deals-row__col--discount--minimal': displayType == 'row-minimal'
    }">
      <div class="deals-row__col__discount-label">
        {{ "-" + game.savings + "%" }}
      </div>
      <div class="deals-row__col__original-price-label">
        {{ "$" + game.normalPrice }}
      </div>
      <div class="deals-row__col__deal-price">
        {{ "$" + game.salePrice }}
      </div>
    </div>
    <div [ngClass]="{
      'deals-row__col': true,
      'hide': displayType != 'row'
    }">
      <span>{{ "-" + game.savings + "%" }}</span>
    </div>
    <div [ngClass]="{
      'deals-row__col': true,
      'hide': displayType != 'row'
    }">
      <span>{{ "$" + game.salePrice }}</span>
    </div>
    <div [ngClass]="{
      'deals-row__col': true,
      'hide': displayType != 'row'
    }">
      {{ "$" + game.normalPrice }}
    </div>
    <div [ngClass]="{
      'deals-row__col': true,
      'hide': displayType != 'row'
    }">
      <span>{{ game.metacriticScore }}</span>
    </div>
    <div [ngClass]="{
      'deals-row__col': true,
      'deals-row__col--store': true,
      'hide': displayType != 'row'
    }">
      <img
        [src]="game.storeIcon"
        alt="store-logo"
      />
      <span>{{ game.storeName }}</span>
    </div>
  </div>
</div>
