<div class="scrollable-page-wrapper">
  <app-navbar></app-navbar>
  <app-title title="Wishlist of {Username}"></app-title>

  <div class="px-1 px-sm-2 px-md-3 scrollable-container">
    <div class="d-none d-lg-flex col-4 mr-xl-4 flex-column scrollable-column">
      <app-recent-deals-list
        [showRandomDeals]="true"
      >
      </app-recent-deals-list>
    </div>

    <div class="col flex-column ml-md-2 scrollable-column">
      <app-subtitle subtitle="Games in my wishlist"></app-subtitle>
      <app-game-cards-container></app-game-cards-container>
    </div>
  </div>
</div>
<app-footer></app-footer>

