<div class="row align-items-center text-nowrap input-form-control m-0 my-1">
  <div class="input-label col-3 text-center p-0">{{ label }}</div>
  <select
    #items
    (change)="onValueChanged(items.value)"
    class="col p-0 m-0 ml-2 w-100 border border-light"
    name="combo"
    id="combo-box"
  >
    <option value="" selected>{{'clear'}}</option>
    <ng-container *ngIf="defaultOption != ''">
      <option selected [value]="defaultOption">{{ defaultOption }}</option>
    </ng-container>
    <ng-container *ngFor="let option of options">
      <option [value]="option">{{ option }}</option>
    </ng-container>
  </select>
</div>
