<div class="col my-1 p-0">
  <div class="row align-items-center input-form-control">
    <div class="input-label col-3 text-center">{{ label }}</div>
    <div class="col p-0">
      <select
        #items
        (change)="onValueChanged(items.value)"
        class="w-100"
        name="combo"
        id="combo-box"
      >
        <ng-container *ngFor="let option of options">
          <option [value]="option">{{ option }}</option>
        </ng-container>
      </select>
    </div>
  </div>
</div>
