<div class="card game-card" [routerLink]="[routes.GAME.PATH, gameDetails.id]">
  <img
    class="card-img-top border-bottom border-danger"
    [src]="gameDetails.background_image"
    style="height: 50%; object-fit: cover; object-position: 50% 0"
    alt="Game card img"
  />
  <div class="card-body p-2 text-capitalize">
    <div class="d-flex align-items-center">
      <div class="mr-auto date text-light">
        {{ gameDetails.released | date }}
      </div>
      <div
        *ngIf="gameDetails.metacritic && gameDetails.metacritic > 0"
        class="metacritic border border-success text-success rounded"
      >
        {{ gameDetails.metacritic }}
      </div>
    </div>
    <h3 class="game-card-title my-4 text-truncate">{{ gameDetails.name }}</h3>
    <a
      (click)="addToWishlist($event)"
      class="badge badge-secondary save-badge"
      [ngClass]="{ 'disabled-wishlist-btn': loading }"
    >
      <i
        *ngIf="gameDetails.savedByLoggedUser; else notSaved"
        class="bi bi-heart-fill"
      ></i>
      <ng-template #notSaved>
        <i class="bi bi-heart"> </i>
      </ng-template>
      <span class="ml-1">{{ gameDetails.savedBy }}</span>
    </a>
  </div>
</div>
