<div [ngClass]="{
  'deals-row': true
}">
  <div [ngClass]="{
    'deals_header__title': true
  }">
    Game title
  </div>
  <div class="deal-data">
    <div [ngClass]="{
      'deals-row__col': true
    }">
      <span>Discount</span>
    </div>
    <div [ngClass]="{
      'deals-row__col': true
    }">
      <span>Deal price</span>
    </div>
    <div [ngClass]="{
      'deals-row__col': true
    }">
      Regular price
    </div>
    <div [ngClass]="{
      'deals-row__col': true
    }">
      <span>Metacritic</span>
    </div>
    <div [ngClass]="{
      'deals-row__col': true,
      'deals-row__col--store': true
    }">
      <span>Store</span>
    </div>
  </div>
</div>
