@import url("../deals-row/deals-row.component.css");

.deals-row {
  background: var(--background-primary);
  margin-bottom: 1.8em;
}

.deals_header__title {
  width: 35%;
}

.deals_header__title::before {
  content: "Game title";
}

@media screen and (max-width: 860px) {
  .deals_header__title {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .deals_header__title {
    width: 100%;
  }

  .deals_header__title::before {
    content: "List of deals";
  }
}
