@import url('../deals-row/deals-row.component.css');
@import url('../../../styles.css');

.deals-row {
  background: #27282E;
  border-top: 1px solid #494A4F;
  border-bottom: 1px solid #494A4F;
  margin-bottom: 1.4em;
  margin-top: 1.4em;
  padding-top: 1.1em;
  padding-bottom: 1.1em;
}

.deals_header__title {
  color: white;
  width: 35%;
  text-align: center;
}

.deals_header__title:before {
  content: 'Game title';
}

@media screen and (max-width: 555px) {
  .deals_header__title {
    text-align: center;
    width: 100%;
  }

  .deals_header__title:before {
    content: 'List of deals';
  }

  .deal-data {
    display: none;
  }
}
