<div class="deals-row border-top border-bottom border-secondary py-3">
  <div class="text-center deals_header__title">
    <!-- Game title | List of deals -->
  </div>
  <div class="d-none d-md-flex w-100">
    <div class="deals-row__col">
      <span>Discount</span>
    </div>
    <div class="deals-row__col">
      <span>Deal price</span>
    </div>
    <div class="deals-row__col">
      <span>Regular price</span>
    </div>
    <div class="deals-row__col">
      <span>Metacritic</span>
    </div>
    <div class="deals-row__col deals-row__col--store">
      <span>Store</span>
    </div>
  </div>
</div>
