<div class="wrapper">
  {{ search }}
  <app-search-box
    placeholder="Search games"
    (searchEvent)="buscar($event)"
  >
  </app-search-box>
  {{ minPrice}}<br />
  {{ maxPrice }} <br />
  {{ currency }} <br />
  <app-price-range
    (minPriceEvent)="setMinPrice($event)"
    (maxPriceEvent)="setMaxPrice($event)"
    (currencyEvent)="setCurrency($event)"
  >

  </app-price-range>
  <app-deals-table-header></app-deals-table-header>
  <app-deals-row
    [game]="gameDeal"
  >
  </app-deals-row>
  <app-deals-row
    [game]="gameDeal"
  >
  </app-deals-row>
  <app-deals-row
    [game]="gameDeal"
  >
  </app-deals-row>
  <app-deals-row
    [game]="gameDeal"
  >
  </app-deals-row>
  <app-deals-row
    [game]="gameDeal"
  >
  </app-deals-row>
  <app-deals-row
    [game]="gameDeal"
  >
  </app-deals-row>
</div>
