.login-wrapper{
    width: 100%;
    padding: 5rem;
    height: 100%;
}

h1{
    color: var(--background-tertiary);
}

.btn-sub{
    width: 100%;
    margin-top: 13%;
}

input{
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    color: white;
    z-index: 1;
}

input:focus{
    background: transparent;
    border: 1px solid green;
    color: white;
}

@media (max-width: 800px) {
    .login-wrapper{
        margin: 0;
        padding: 0 2rem 2rem 2rem;

    }

}