<div class="bg-dark text-white login-wrapper">

    <h1 class="display-2 mb-5">Login</h1>

    <p class="lead">Hi! nice to see you again</p>

    <form class="pt-4" #LoginForm="ngForm" [formGroup]="profileLogin" (ngSubmit)="submit()">

        <!-- Email -->
        <div class="mb-5">
            <input name="email" type="email" class="form-control" formControlName="email" placeholder="Email"
                [ngClass]="validate('email')">
            <div class="invalid-feedback">
                Email invalid
            </div>
        </div>

        <!-- Password -->
        <div class="mb-5">
            <input name="password" type="password" class="form-control" formControlName="password"
                placeholder="Password" [ngClass]="validate('password')">
            <div class="invalid-feedback">
                Password invalid
            </div>
        </div>

        <div class="d-flex justify-content-between pt-2">
            <div>
                <!-- Remember me -->
                <input formControlName="remember" type="checkbox"> Remember me

            </div>
            <div>
                <!-- Forgot password -->
                <a class="" href="">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn-primary btn-lg mb-1 btn-sub" type="submit">Sign in</button>
    </form>
</div>