i {
  color: white;
}

.search-box input::placeholder {
  color: var(--input-field-placeholder);
}

.search-box {
  width: 100%;
  position: relative;
  font-family: var(--font-primary);
  font-size: 20px;
}

.search-box__input {
  background-color: #3b3b3b;
  border: none;
  color: white;
  padding: 0.3em 1em;
  width: 100%;
}

.search-box__input:focus {
  outline: none;
}

.search-box__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-box__icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 555px) {
  .search-box {
    font-size: 16px;
  }
}
