<div
  class="search-box"
  [ngStyle]="type === 'thick' ? { 'font-size': '24px' } : null"
>
  <input
    #searchBox
    type="text"
    class="search-box__input rounded-pill"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (ngModelChange)="onValueChanged($event)"
    (keyup.enter)="search(searchBox.value)"
  />
  <div #ref (click)="search(searchBox.value)">
    <ng-content select="i"></ng-content>
  </div>

  <!--Default icon-->
  <i
    *ngIf="!ref.innerHTML.trim()"
    class="bi bi-search search-box__icon"
    (click)="search(searchBox.value)"
  >
  </i>
</div>
