<nav
  class="navbar navbar-expand-md navbar-dark py-1 px-3 px-xl-5"
  style="background-color: var(--background-secondary)"
>
  <a class="navbar-brand brand" [routerLink]="routes.HOME.PATH">gamerpot</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto h5 text-nowrap align-items-center">
      <app-navbar-item-wrapper [routerLink]="routes.DEALS.PATH"
        >Deals
      </app-navbar-item-wrapper>

      <app-navbar-item-wrapper [routerLink]="routes.BEST_GAMES.PATH"
        >Best games
      </app-navbar-item-wrapper>
      <app-navbar-item-wrapper [routerLink]="[routes.WISHLIST.PATH, 5]"
        >Wishlist
      </app-navbar-item-wrapper>

      <app-navbar-item-wrapper [routerLink]="[routes.ABOUT.PATH]"
        >About
      </app-navbar-item-wrapper>

      <div *ngIf="user; else login">
        <app-navbar-item-wrapper>
          <li class="dropdown">
            <a
              class="nav-link p-0 m-0"
              id="profile-item"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
              role="button"
              href="#"
            >
              <app-profile-img
                [label]="user.name"
                [imgUrl]="user.profilePictureUrl"
              ></app-profile-img>
            </a>
            <div
              class="dropdown-menu text-left"
              aria-labelledby="profile-item"
              style="background-color: var(--background-secondary)"
            >
              <a class="dropdown-item styled-dropdown-item"
                ><i class="bi bi-person-circle mr-1"></i>
                Profile
              </a>
              <a class="dropdown-item styled-dropdown-item" (click)="onLogout()"
                ><i class="bi bi-box-arrow-left mr-1"></i>
                Log out
              </a>
            </div>
          </li>
        </app-navbar-item-wrapper>
      </div>

      <ng-template #login>
        <div (click)="onLogin()">
          <app-navbar-item-wrapper>
            <i class="bi bi-box-arrow-in-right mr-1"></i>Login
          </app-navbar-item-wrapper>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
