<nav
  class="navbar navbar-expand-md navbar-dark py-1 px-3 px-xl-5"
  style="background-color: var(--background-secondary)"
>
  <a class="navbar-brand brand" href="#">gamerpot</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto h5 text-nowrap align-items-center">
      <a
        class="
          nav-item nav-link
          styled-nav-item
          my-3 my-md-0
          px-4
          mx-auto mx-lg-3 mx-xl-4
          active
        "
        href="#"
        >Deals <span class="sr-only">(current)</span></a
      >
      <a
        class="
          nav-item nav-link
          styled-nav-item
          my-3 my-md-0
          px-4
          mx-auto mx-lg-3 mx-xl-4
        "
        href="#"
        >Best games</a
      >
      <a
        class="
          nav-item nav-link
          styled-nav-item
          my-3 my-md-0
          px-4
          mx-auto mx-lg-3 mx-xl-4
        "
        href="#"
        >Wishlist</a
      >
      <li
        class="
          nav-item
          styled-nav-item
          my-3 my-md-0
          px-4
          mx-auto mx-lg-3 mx-xl-4
        "
      >
        <a class="nav-link p-0" href="#">
          <app-profile-img></app-profile-img>
        </a>
      </li>
    </div>
  </div>
</nav>
