<div class="page-wrapper">


    <div class="row all-h">
        <div class="col-md-6 no-pad-rght-lft all-h login">
            <app-login></app-login>
        </div>
        <div class="col-md-6 no-pad-rght-lft all-h">
            <img src="https://wallpapercave.com/wp/wc1765288.jpg" alt="banner">
        </div>
    </div>


    <div class="desk-label">
        <label>Don't have an account? <a href="#register" (click)="open()">Sign up.</a></label>
    </div>
    <div class="mob-label">
        <label>Don't have an account? <a href="#register" (click)="open()">Sign up.</a></label>
    </div>


</div>