<div class="price-range">
  <div class="price-range__title">Price range</div>
  <div class="price-range__inputs">
    <div class="price-range__inputs__col">
      <div class="price-range__inputs__col__label">
        Min
      </div>
      <div class="price-range__inputs__col_input">
        <input type="text" placeholder="$0" class="text-box" #minPrice (change)="setMinPrice(minPrice.value)" />
      </div>
    </div>

    <div class="price-range__inputs__col">
      <div class="price-range__inputs__col__label">
        Max
      </div>
      <div class="price-range__inputs__col_input">
        <input type="text" placeholder="$500" class="text-box" #maxPrice (change)="setMaxPrice(maxPrice.value)" />
      </div>
    </div>

    <div class="price-range__inputs__col">
      <div class="price-range__inputs__col__label">
        Cur
      </div>
      <div class="price-range__inputs__col_input">
        <select class="select-box" #currency (change)="setCurrency(currency.value)">
          <option value="USD">USD</option>
          <option value="MXN">MXN</option>
        </select>
      </div>
    </div>
  </div>
</div>
