@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "./app/shared/styles/form-controls.css";
@import "./app/shared/styles/titles.css";
@import "./app/shared/styles/scrollbar.css";
@import "./app/shared/styles/layout.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

:root {
  --background-primary: #27282e;
  --background-secondary: #161618;
  --background-tertiary: #ea7f7f;
  --custom-green: #66cc33;
  --input-field-placeholder: #dcdcdc;
  --font-primary: "Montserrat", "Arial";
  --font-secondary: "Rubik Mono One", sans-serif;
  --deal-row-height: 60px;
}

html,
body {
  font-family: var(--font-primary);
  font-size: 18px;
  background: var(--background-primary);
  color: white;
  height: 100%;
}

.brand {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 300;
}
