<div class="scrollable-page-wrapper">
  <app-navbar></app-navbar>
  <app-title title="Best games of all time"></app-title>

  <div class="row px-2 px-md-3 px-lg-5" style="max-width: 1000px">
    <div class="col-sm col-md-5">
      <app-combo-box label="Genre"></app-combo-box>
    </div>
    <div class="col-sm col-md-5">
      <app-combo-box label="Platform"></app-combo-box>
    </div>
  </div>

  <div class="px-2 px-md-3 px-lg-5 scrollable-container">
    <div class="col flex-column scrollable-column">
      <app-game-cards-container></app-game-cards-container>
    </div>
  </div>
</div>
