<div class="card game-card">
  <img
    class="card-img-top border-bottom border-danger"
    src="https://wallpapercave.com/wp/wc1765288.jpg"
    alt="Game card img"
  />
  <div class="card-body p-2">
    <div class="d-flex align-items-center">
      <div class="mr-auto date text-light">Sep 17, 2013</div>
      <div class="metacritic border border-success text-success rounded">
        94
      </div>
    </div>
    <h3 class="game-card-title my-4">Grand Theft Auto V</h3>
    <a href="#" class="badge badge-secondary save-badge">
      <i class="bi bi-heart"> </i>
      <span class="ml-1">15, 568</span>
    </a>
  </div>
</div>
