<div class="card game-card">
  <img class="card-img-top border-bottom border-danger" [src]="gameDetails.background_image" alt="Game card img" />
  <div class="card-body p-2 text-capitalize">
    <div class="d-flex align-items-center">
      <div class="mr-auto date text-light">{{gameDetails.released | date}}</div>
      <div class="metacritic border border-success text-success rounded">
        {{gameDetails.metacritic}}
      </div>
    </div>
    <h3 class="game-card-title my-4">{{gameDetails.name}}</h3>
    <a href="#" class="badge badge-secondary save-badge">
      <i class="bi bi-heart"> </i>
      <span class="ml-1">8888</span>
    </a>
  </div>
</div>