<div class="contact-form">
  <div class="text-left mb-2">Contact us</div>
  <div class="form-group">
    <input
      [(ngModel)]="to"
      type="email"
      class="form-control"
      aria-describedby="emailHelp"
      placeholder="Email"
    />
  </div>
  <div class="form-group">
    <textarea
      [(ngModel)]="body"
      class="form-control"
      rows="3"
      placeholder="Message"
    ></textarea>
  </div>
  <button (click)="sendEmail()" type="submit" class="btn btn-primary send-btn">
    Send message
  </button>
</div>
