.sub-btn {
  width: 100%;
}

.title {
  font-size: 4rem;
}

input {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
}

input:focus {
  background: transparent;
  border: 1px solid green;
}

.cls-btn {
  float: right;
  background: transparent;
  border-radius: 20%;
  display: block;
  border: none;
}

.cls-btn:hover {
  border: 1px solid black;
}
