<div class="bg-light register-wrapper">
  <button class="cls-btn" (click)="closeModal()">
    <i class="bi bi-x-lg"></i>
  </button>

  <div class="modal-header mt-3 mb-5 text-dark">
    <h1 class="display-4">Sign up</h1>
  </div>

  <form [formGroup]="registerForm" class="mb-5" (ngSubmit)="register()">
    <!-- FullName -->
    <div class="mb-5">
      <input
        type="text"
        class="form-control"
        placeholder="Enter full name"
        formControlName="name"
        [ngClass]="validate('name')"
      />
      <div class="invalid-feedback">
        <div *ngIf="fields.name.errors?.required">Name required</div>
        <div *ngIf="fields.name.errors?.minlength">
          At least 3 characters required
        </div>
      </div>
    </div>

    <!-- Email -->
    <div class="mb-5">
      <input
        type="email"
        class="form-control"
        placeholder="Enter your email"
        formControlName="email"
        [ngClass]="validate('email')"
      />
      <div class="invalid-feedback">
        <div *ngIf="fields.email.errors?.required">Email required</div>
        <div *ngIf="fields.email.errors?.email">Invaild email format</div>
      </div>
    </div>

    <!-- Password -->
    <div class="mb-5">
      <input
        type="password"
        class="form-control"
        placeholder="Enter your password"
        formControlName="password"
        [ngClass]="validate('password')"
      />
      <div class="invalid-feedback">
        <div *ngIf="fields.password.errors?.required">Password required</div>
        <div *ngIf="fields.password.errors?.pattern">
          <p>Invalid password format</p>
          <ul>
            <li>At least 8 characters</li>
            <li>Must contain one capital letter</li>
            <li>Must contain one lowercase letter</li>
            <li>Must contain one number</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Password -->
    <div class="mb-5">
      <input
        type="password"
        class="form-control"
        placeholder="Repeat your password"
        formControlName="confirmPassword"
        [ngClass]="checkPasswords()"
      />
      <div class="invalid-feedback">
        <div *ngIf="fields.confirmPassword.errors?.required">
          Password confirmation required
        </div>
        <div
          *ngIf="
            !fields.confirmPassword.errors?.required &&
            registerForm.errors?.mismatch
          "
        >
          Passwords must match
        </div>
      </div>
    </div>

    <!-- Sing up in button -->
    <button
      class="btn-dark btn-lg bg-dark text-white mt-5 sub-btn"
      type="submit"
    >
      Sign up
    </button>
  </form>
</div>
