img {
  width: 100%;
  margin-bottom: 1em;
}

.btn-a {
  background-color: #373737;
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-decoration: none;
  color: white;
}

.btn-a:hover {
  background-color: #535353;
}

a {
  color: white;
}

.devs {
  transition: all ease .5s;
}

.devs:hover {
  transform: translateY(-1.2em);
}
