<div>
    <app-navbar></app-navbar>
    <app-title title="About us?"></app-title>
    <div class="container-fluid text-center">
        <p>We are students from UADY university, and we need to pass WAAS</p>
    </div>
    <div class="d-flex flex-wrap text-center justify-content-center">
        <picture class="p-5 col-lg-4 devs">
            <a href="https://github.com/SonBear" target="_blank">
              <img class="img-thumbnail rounded-circle" src="https://avatars.githubusercontent.com/u/48963587?v=4" alt="Team">
              <p>SonBear</p>
            </a>
        </picture>
        <picture class="p-5 col-lg-4 devs">
            <a href="https://github.com/HikingCarrot7" target="_blank">
              <img class="img-thumbnail rounded-circle" src="https://avatars.githubusercontent.com/u/47760015?v=4" alt="Team">
              <p>HikingCarrot7</p>
            </a>
        </picture>
        <picture class="p-5 col-lg-4 devs">
          <a href="https://github.com/Shadic78" target="_blank">
            <img class="img-thumbnail rounded-circle" src="https://avatars.githubusercontent.com/u/43481488?v=4" alt="Team">
            <p>Shadic78</p>
          </a>
        </picture>
    </div>
</div>
<app-footer></app-footer>


