<app-loading-spinner
  *ngIf="fetchingGames; else gameCardsContainer"
></app-loading-spinner>

<ng-template #gameCardsContainer>
  <div class="col text-center" *ngIf="games.length === 0; else content">
    <div class="display-4 my-5">No games available :(</div>
  </div>
  <ng-template #content>
    <div class="row p-2 my-2 row-cols-1 row-cols-md-2 row-cols-lg-3 p-0">
      <ng-container *ngFor="let game of games">
        <div class="col p-1">
          <app-game-card [gameDetails]="game"></app-game-card>
        </div>
      </ng-container>
    </div>
    <app-pagination
      [page]="page"
      [pageSize]="pageSize"
      [collectionSize]="collectionSize"
      (nextPage)="loadPage($event)"
    ></app-pagination>
  </ng-template>
</ng-template>
