.square {
  position: relative;
  width: 50%;
  margin: auto;
  border-radius: 15%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  padding: 33% 0;
  text-align: center;
}

.metacritic-low{
  background: #DA1106;
}

.metacritic-medium{
background-color: #FFCC33;
}

.metacritic-high{
background-color: #66CC33;
}

.no-metacritic{
background-color: gray;
}

.website{
    overflow-wrap: break-word;
  word-wrap: break-word;
}

.wishlist-btn{
  background: #373737;
  width: fit-content;
}
.wishlist-btn:hover{
  background: #535353;
  cursor: pointer;
}

#more-btn{
  background: #FFFFFF;
}