<app-navbar></app-navbar>
<div class="content-wrapper flex-wrap">
    <!--Recent deals game-->
    <div class="col-xl-3 p-4">
        <app-subtitle subtitle="Recent deals"></app-subtitle>
        <ng-container *ngFor="let deal of deals">
            <app-deal-table-row-minimal [deal]="deal"></app-deal-table-row-minimal>
        </ng-container>
    </div>
    <!--Information game-->
    <div class="col-xl-6 p-4">
        <!--Tittle-->
        <div class="p-2">
            <span class="font-weight-light">{{gameDetails.updated | date}}</span>
            <h1 class="title">{{gameDetails.name}}</h1>
            <span>Average playtime: {{gameDetails.playtime}} hours</span>
        </div>

        <!--Carousel game pictures-->
        <app-carousel [srcImages]="[gameDetails.background_image, gameDetails.background_image_additional]">
        </app-carousel>

        <!--Button whis list-->
        <div class="wishlist-btn p-2 mt-2 rounded" (click)="addWishlistGame()">
            <i class="bi bi-bookmark-plus"></i>
            <span> Add to my whislist</span>
        </div>


        <!--About-->
        <div class="about-wrapper mb-0 mt-3">
            <app-subtitle subtitle="About"></app-subtitle>
            <span>{{gameDetails.description_raw.substr(0,300)}} </span>
            <span id="dots"> ... </span>
            <span id="more" style="display: none;">{{gameDetails.description_raw.substr(300)}} </span>
            <button class="mt-0 mb-2  rounded" (click)="displayMore()" id="more-btn">See more</button>
        </div>

        <!--Additional information-->
        <div class="row">
            <div class="col">
                <!--Plataforms-->
                <app-subtitle subtitle="Platforms"></app-subtitle>
                <ng-container *ngFor="let i of gameDetails.platforms">
                    <p>{{i.platform.name}}</p>
                </ng-container>

                <app-subtitle subtitle="Developers"></app-subtitle>
                <ng-container *ngFor="let i of gameDetails.developers">
                    <p>{{i.name}}</p>
                </ng-container>

                <app-subtitle subtitle="Website"></app-subtitle>
                <a class="website" [href]="gameDetails.website? gameDetails.website: 'without website'" target="_blank"
                    rel="noopener noreferrer">{{gameDetails.website? gameDetails.website: 'without
                    website'}}
                </a>
            </div>
            <div class="col">
                <app-subtitle subtitle="Genre"></app-subtitle>
                <div *ngFor="let i of gameDetails.genres">
                    <p>{{i.name}}</p>
                </div>
                <app-subtitle subtitle="Publisher"></app-subtitle>
                <div *ngFor="let i of gameDetails.publishers">
                    <p>{{i.name}}</p>
                </div>
                <app-subtitle subtitle="Relase date"></app-subtitle>
                <p>{{gameDetails.released | date}}</p>
            </div>
        </div>
    </div>

    <!--Metracritic and comments-->
    <div class="col-xl-3 p-4">
        <div class="square mb-2" [ngClass]="setMetacriticState()">
            <h1 class="content">
                {{gameDetails.metacritic? gameDetails.metacritic: '-'}}
            </h1>
        </div>

        <app-subtitle subtitle="commentaries"></app-subtitle>
        <app-leave-comment></app-leave-comment>
        <ng-container *ngFor="let i of commentaries">
            <app-review-comment></app-review-comment>
        </ng-container>

    </div>
</div>